<!DOCTYPE html>
<html>
    <head>
        <title>JCE Registration Site</title>
    </head>
<body>
<div style="width:200px;height:50px;padding:10px;border:5px solid green;">
JCE Registration 
</div>
<p>

Select an option below

<ul style="list-style-type:none">
  <li><a target="_blank" href="/login">Login</a></li>
  <li><a target="_blank" href="/register">Register to site</a></li>
  <li><a target="_blank" href="/recover">Recover Password</a></li>
  <li><a target="_blank" href="/remove">Remove Me</a></li>
  <li><a target="_blank" href="/showall">Show All</a></li>
  <li><a target="_blank" href="/quit">Quit</a></li>
</ul>

</body>
</html>
